.main-date-div {
  background-image: url("../../photos/abstractBlur.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  padding-right:10vw;
  padding-left:10vw;
}
.date_cards{
    padding-top: 100px;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.short_description_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottom_images_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px
}