#landing_page {
    height: 100vh;
    width: 100vw;
    background-image: url('../../photos/bokehCity.jpg');
    background-size: cover;
}
#landing_dim {
    /* padding-top: 200px; */
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#landing_button_div{
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#is{
    animation: is 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes is{
    0%{
    }
    50%{
        font-size: 150%;
        color: #EF4E4E
    }
    100%{
        font-size: 100%;
        color: white
    }
}