#landing_page {
    height: 100vh;
    width: 100vw;
    background-image: url('../../photos/bokehCity.jpg');
    background-size: cover;
}
#landing_dim {
    /* padding-top: 200px; */
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#landing_button_div{
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}