.profile-component{
  background-image: url("../../photos/amusementPark.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center
}

#completed_date_card{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px
}
.profile-saved-dates-card-content, .profile-saved-dates-card, .profile-completed-dates-card, .profile-completed-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll
}

.profile-user-card{
    display: flex;
    flex-direction: column;
    
    padding-right:10vh;
    padding-left:10vh;
    height: 100%;
    justify-content: center;
}

.profile-user-card-content{
    display: flex;
    justify-content: space-around;
  
    /* align-items: center; */
    /* justify-content: center; */
  
}

.profile-user-card-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}

.profile-user-card-text-inner{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  width: 30vw;
}

.profile-user-avatar{
  margin-right: 5vw;
}

.dates-completed{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25vw;

}

.dates-completed-num{
margin-left: 5vw;
}

.saved-dates{
  padding-bottom: 5vh;
}