.main-form-review-div{
    background-image: url("../../photos/cityDark.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

   

    padding-top:15vh;
  
}

.form-review-description-card, .form-review-images-card{
    margin-top: 5vh;
 
}

.form-review-images-card{
   
}


.form-review-description-card-cc{
 
}

.review-short_description_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;

}

.description-div, .activity-food-memory-names{
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
}

.date-cards{
    width: 50%;
    height: 50%;
}

.lower-imgs{
    display: flex;
    justify-content: center;
}

.first-review-submit-button{
    display: flex;
    justify-content: flex-end;
}

.form-review-date-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.big-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900;
}



.Review-instructions{
    display: flex;
    justify-content: center;
    padding:1vh;
}

.form-review-submit-button-div{
    display: flex;
    justify-content: center;
}

.box-one, .box-two{
    display: flex;
    flex-direction: column;
    /* height: 30vh; */
    padding: 5vw;
}

.form-review-img-card-content{
   
 
}

.activity-description-fri{
    display: flex;
    flex-direction: column;
}



.MuiDialog-paperWidthSm-81{
    max-width: 5000px !important;
}