.main-form-activity-div{
    background-image: url("../../photos/cityDark.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10vh;
  
}

.form-activity-inner-card{
    display: flex;
    /* flex-direction: column; */
    padding-right:10vh;
    padding-left:10vh;
    
  
   
    
    

}









.see-results-button{
display: flex;
justify-content: flex-end;
width: 100%;
}

.form-activity-title{
    display: flex;
    justify-content: center;
   
}


.form-activity-textfield{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.form-memory-textfield{
       display: flex;
    align-items: center;
    flex-direction: column;
}


.activity-card-content{
    display: flex;
    flex-direction: column;

    margin-top: 10vh;}

    .card-activity-results-button{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top:3vh;
   }



.form-link{
    text-decoration: none;
}

.form-activity-search-results-div{
    
}

.form-checkbox{
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
}