.main-form-activity-div{
    background-image: url("../../photos/cityDark.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10vh;
    
    
  
}

.form-activity-inner-card{
    display: flex;
    /* flex-direction: column; */
    padding-right:10vh;
    padding-left:10vh;
 
  
   
    
    

}
.expansion-panel-two-photo-and-checkbox-div{
    display: flex;
    width: 60vw;
    border-style: solid;
    border-color:  #f0f0f0;
    border-width: 2px;
    
    align-items: center;
    
}

.expansion-panel-two{
    display: flex;
    justify-content: center;
    
}

.expansion-two-photos{
    display: flex;
    justify-content: center;
    
    padding-top: 5vh;
    /* width: 30vh; */
    padding-bottom: 5vh;

}

.expansion-two-photos-div{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
   
   flex-wrap: wrap;
   align-items: center;

 
}

.expansion-panel-two-photo-and-checkbox-text{
    display: flex;
    align-items: center;
    margin-right:5vw;
    margin-left:5vw;
}







.see-results-button{
display: flex;
justify-content: flex-end;
width: 100%;
}

.form-activity-title{
    display: flex;
    justify-content: center;
   
}


.form-activity-textfield{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.form-memory-textfield{
       display: flex;
    align-items: center;
    flex-direction: column;
}


.activity-card-content{
    display: flex;
    flex-direction: column;
width: 100%;
    margin-top: 10vh;}

    .card-activity-results-button{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top:3vh;
   }



.form-link{
    text-decoration: none;
}

.form-activity-search-results-div{
    
}

.form-checkbox{
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
}