.review-main-component{
    margin-bottom: 50px
}

.review-form-component{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center
    /* justify-content: center; */
}

.review-component{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-main-card-content{
display: flex;
flex-direction: column;
width: 100%;
}

.review-textfield-and-button-div{
    display: flex;
    flex-direction: column;
}

.review-submit-button{
    /* width: 5vw; */
}

.review-upload-button{
    width: 5vw;
    
}

.review-buttons-div{
    display: flex;
    justify-content: space-between;
}

.review-avatar-and-username{
    display: flex;
    width: 15vw;
    flex-direction: row;
    align-items: center;
}

.review-text{
    display: flex;
    justify-content: center;
    width: 100%;
}

#review_div_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MuiInputBase-root-217{
    font-family: Vollkorn !important;
}

.MuiInputBase-root-217::placeholder{
    font-family: Vollkorn !important;
}
#review_images_div{
    margin-top: 25px;
    margin-bottom: 25px;
}

.review_image_2{
    -webkit-transform:rotateY(180deg);
}
.review_image_3{
    -webkit-transform:rotate(180deg);
}
.review_image_4{
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(180deg);
}
.review_image_5{
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(-90deg);
}
.review_image_6{
    -webkit-transform:rotate(90deg);
}
.review_image_7{
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(90deg);
}
.review_image_8{
    -webkit-transform:rotate(-90deg);
}