#appBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

#loginSignup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}