#appBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}
#create_date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loginSignup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button_div {
    margin: 15px;
    margin-block-end: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}